audio::-webkit-media-controls-mute-button, video::-webkit-media-controls-mute-button {
    -webkit-appearance: media-mute-button;
    display: none;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 35px;
    height: 30px;
    line-height: 30px;
    margin: 0 6px 0 0;
    padding: 0;
    background-color: initial;
    color: inherit;
}
audio::-webkit-media-controls-overlay-enclosure {
    display: none;
}
video::-webkit-media-controls-overlay-enclosure {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1;
    width: 100%;
    max-width: 800px;
    text-indent: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/*noinspection ALL*/
video::-webkit-media-controls-overlay-play-button {
    -webkit-appearance: media-overlay-play-button;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    width: 80px;
    height: 80px;
    padding: 0;
}
audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: none;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 0;
    background-color: initial;
    color: inherit;
}
