@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #000000;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    
    
  }

:root {
    --color: #3c3163;
    --transition-time: 0.5s;
}

body {
    font-family: 'Open Sans';
    background: #fafafa;
}

table {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

a {
    color: inherit;
}

audio::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: none;
}

audio::-webkit-media-controls-panel {
    background:  #AFCDE7;
}
* {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.audioplayer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 10px;
    background-color:  #AFCDE7;
}

.download {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

html,
body {
    height: 100%;
}

.features {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-bottom: 80px;
}

.text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.select_file {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.upload_file {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.selected_filename {
    grid-column: 1 / 3;
    grid-row: 3 / 4
}

.radio_buttons {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.check_boxes {
    grid-column: 1 / 3;
    grid-row: 5 / 6
}

.fa-play {
    color: #2cad5f;
}

.fa-stop {
    color: #b71c1c;
}

img {
    width: 20px;
    height: 20px;
}

.wrapper {
    display: grid;
    gap: 5px;
    grid-template-rows: 70px;
    min-height: 100%;
}

.wrapper2 {
    display: grid;
    gap: 5px;
    grid-template-columns: 50%;
    grid-template-rows: 42px 52px 42px 90px;
}

.wrapper > div {
    min-width: 100px;
}

.wrapper2 > div {
    min-width: 100px;
}

#audio_table_wrapper {
    width: 100% !important;
}

th {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}

table.dataTable thead th {
    border-color: white;
}
table.dataTable tfoot th {
    border-color: white;
}

table.dataTable.no-footer {
    border-bottom: 0;
}
